<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>

			<BASEURL>https://www.edgewordstraining.co.uk/demo-site/my-account/</BASEURL>
			
			<SECRET_USERNAME>billy.keates@nfocus.co.uk</SECRET_USERNAME>
			<SECRET_PASSWORD>billykeates</SECRET_PASSWORD>

			

			<BROWSER>chrome</BROWSER>
			
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>